* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.memory-game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
}

.memory-game-wrapper .grid-animals-container {
  display: flex;
  flex-flow: column wrap;
}

.memory-game-wrapper .grid-animals-container .grid-animals {
  border: 1px solid #333;
  align-self: center;
  margin-top: 3em;
}

.memory-game-wrapper .grid-animals-container .grid-animals .grid-animals__row {
  display: flex;
}

.memory-game-wrapper .grid-animals-container .grid-animals .grid-animals__row .grid-animals__cell {
  border: 1px solid #333;
  cursor: pointer;
  display: flex;
  width: 120px;
  height: 120px;
}

.memory-game-wrapper .grid-animals-container .grid-animals .grid-animals__row .grid-animals__cell img {
  display: none;
}

.memory-game-wrapper .grid-animals-container .grid-animals .grid-animals__row .grid-animals__cell--hover:hover {
  background-color: #F9DC5C;
}