$easyDifficultyOptionColor: #34bd34;
$mediumDifficultyOptionColor: #fa9600;
$hardDifficultyOptionColor: #ff0000;
$cellHoverColor: #f9dc5c;
$menuButtonColor: #00a2ff;
$fontFamily: Calibri, 'Trebuchet MS', sans-serif;