$easyDifficultyOptionColor: #34bd34;
$mediumDifficultyOptionColor: #fa9600;
$hardDifficultyOptionColor: #ff0000;
$cellHoverColor: #f9dc5c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.memory-game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;

  .grid-animals-container {
    display: flex;
    flex-flow: column wrap;

    .title {
      text-align: center;
    }

    .grid-animals {
      display: none;
      border: 1px solid #333;
      align-self: center;
      margin-top: 3em;
    
      .grid-animals__row {
        display: flex;
    
        .grid-animals__cell {
          border: 1px solid #333;
          cursor: pointer;
          display: flex;
          width: 120px;
          height: 120px;
        
          img {
            display: none;
          }
        }
    
        .grid-animals__cell--hover:hover {
          background-color: $cellHoverColor;
        }
      }
    }
  }  
}

@mixin setDifficultyColor($difficultyOptionColor) {
  border: 1px solid $difficultyOptionColor;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.4em;
  margin-bottom: .7em;
  padding: .3em;
  text-align: center;
  transition: all .3s ease-out;

  &:hover {
    background-color: $difficultyOptionColor;
    border: 1px solid darken($difficultyOptionColor, 15%);
    color: #fff;
  }
}

.grid-animals-container__difficulty {
  margin: 2em 0;

  .grid-animals-container__difficulty--easy {
    @include setDifficultyColor($easyDifficultyOptionColor);
  }
  
  .grid-animals-container__difficulty--medium {
    @include setDifficultyColor($mediumDifficultyOptionColor);
  }
  
  .grid-animals-container__difficulty--hard {
    @include setDifficultyColor($hardDifficultyOptionColor);
  }
}
